
/LasVega.Entity/obj
/LasVega.Entity/bin
/LasVega.Dal/obj
/LasVega.Dal/bin
/LasVega.Controller/bin
/LasVega.Controller/obj
/LasVega/LasVegaGame/obj
/LasVega/LasVegaGame/bin
*.suo
*.user
/LasVega/LasVegaGame/LasVegaContent/obj
/LasVega/LasVegaGame/LasVegaContent/bin
/LasVega/LasVegaGame/LasVega/obj
/LasVega/LasVegaGame/LasVega/bin
/LasVegaGame/LasVega/bin
/LasVegaGame/LasVega/obj
/LasVegaGame/LasVegaContent/bin
/LasVegaGame/LasVegaContent/obj